.activeTileContainer {
  display: flex;
  justify-content: space-evenly;
  .tile {
    width: 45%;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
  }
  .statBox {
    text-align: center;
    width: 45%;
    font-size: 1.8rem;
    padding: 1rem;
  }
}

#gameTypeOptions {
  margin: 10px 0;
}

.temporaryGameTypeSelector {
  span {
    margin: 0 5px;
    padding: 2px 3px;
  }
  span:hover {
    cursor: pointer;
  }
  .selected {
    background: indigo;
    color: white;
  }
}

.activeMapImage {
  width: 90%;
  height: 90%;
}