.activeTileContainer {
  display: flex;
  justify-content: space-evenly;
  .tile {
    width: 45%;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
  }
}

.activeMapImage {
  width: 90%;
  height: 90%;
}

.activeTileTitle {
  margin: 0;
  font-size: 2.5rem;
}