#actionButtonContainer {
  display: flex;
  justify-content: center;
}

#actionButton {
  font-size: 7.2rem;
  color: white;
  background: indigo;
  width: 75%;
  margin: 25px 0px;
  padding: 5px 0px;
  border-radius: 10px;
  border: none;
  font-family: fortNite;
}

@media only screen and (max-width: 700px) {
  #actionButton {
    font-size: 5rem;
    width: 100%;
    margin: 10px 0;
  }
}

#actionButton:hover {
  filter: brightness(125%);
}