.activeTileContainer {
  display: flex;
  justify-content: space-evenly;
  .tile {
    width: 35%;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1250px) {
  .activeTileContainer {
    .tile {
      width: 45%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .activeTileContainer {
    flex-wrap: wrap;
    .tile {
      width: 100%
    }
  }
}

.activeTileTitle {
  margin: 0;
  font-size: 2.5rem;
}

#activeMapContainer {
  position: relative;
  margin: auto;
}

.activeMapImage {
  width: 100%;
  height: auto;
}

.activeImageButtonsContainer {
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(72, 1fr);
  grid-template-rows: repeat(72, 1fr);
}

#mapMarker {
  z-index: 1;
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  height: 13.8%;
  width: 7%;
}