#filterLocationsContainerWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(139, 4, 217, 0.8);
  background-image: url('thinStormLinesAlpha.png');
  background-size: cover;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

#filterLocationsContainer {
  width: 65%;
  margin: auto;
  position: relative;
  box-shadow: 0 0 4px 0 rgba(168, 168, 168, 0.4);
  background: white;
}

@media only screen and (max-width: 700px) {
  #filterLocationsContainer {
    width: 90%;
    height: 90%;
    overflow-y: auto;
    overflow-x: visible;
  }
}

#filterLocationsBox {
  background: white;
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 0;
  justify-content: space-evenly;
}

.filterSelection {
  p {
    margin: 0;
  }
  color: green;
  font-family: fortNite;
  font-size: 1.6vw;
  width: 30%;
  padding-left: 1vh;
  text-align: center;
  margin: 1vh 0;
}


.filterSelection:hover {
  cursor: pointer;
  filter: brightness(120%);
}
.filteredOut {
  color: red;
}

#filterGroupingsButtonContainer {
  display: flex;
  .filterGroupButton {
    flex: 1;
  }
}

.filterGroupButton {
  background: indigo;
  color: white;
  font-family: 'fortNite';
  border: none;
  font-size: 3rem;
}
.filterGroupButton:hover {
  filter: brightness(125%);
}