.gameCardFullContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.editableGameCardStat {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img {
    margin: auto;
  }
}

.editableButtonsContainer {
  width: 40%;
}

#saveEdits {
  border: none;
  width: 100%;
  background: indigo;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.editableStartLocationName {
  height: 65%;
  display: flex;
  flex-direction: column;
  select {
    height: 40%;
  }
  h3 {
    height: 30%;
    margin: 0;
    font-size: 1.5rem;
  }
}

.editableEntryContainer {
  h3 {
    font-size: 1.5rem;
    margin: 0;
  }
}