@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 2000px) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;

  $multiplier: 1;
  $current-width: 0px;

  @while $current-width < $max-viewport-width {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;

    @media(min-width: $flex-basis * $multiplier) {
      max-width: percentage(1/$multiplier);
    }
  }
}

.flex-item {
  @include flex-wrap-fix(350px);
}

.myGamesContainer {
  display: flex;
  flex-wrap: wrap;
}

.gameCardContainer {
  flex: 1;
}

.gameCardStats {
  position: relative;
  flex: 9;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.gameCard {
  display: flex;
  border: 1px solid black;
  background: lightgray;
  margin: 4px;
  justify-content: space-evenly;
}

.confirmDeleteGameCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  z-index: 5;
  background: lightcoral;
  border: 1px solid red;
  box-sizing: border-box;
  text-align: center;
  h2 {
    font-size: 1.7rem;
  }
}

.editableGameCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  z-index: 3;
  background: lightgray;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: space-evenly
}

.editableGameCardStat {
  width: 33%;
  select {
    width: 100%;
  }
}

.editableGameCardTime {
  margin: auto;
}

.editableEntryContainer {
  height: 30%;
  display: flex;
  margin:  2% 0;
  justify-content: space-evenly;
  .inputLabel {
    margin: auto;
    width: 60%;
    text-align: center;
  }
  input {
    width: 30%;
    margin: 0;
  }
  select {
    width: 30%;
    margin: 0;
  }
}

.confirmDeleteGameCardButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}

.confirmDeleteButton {
  width: 33%;
  height: 2.5rem;
  font-size: 1.8rem;

}

.gameCardStat {
  flex: 3;
  width: 100px;
  justify-content: center;
  text-align: center;
}

.gameCardOptionsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.gameCardOptionButton {
  width: 100%;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.gameCardOptionButton:hover {
  cursor: pointer;
  filter: brightness(125%);
}
.trashIcon {
  margin: auto;
}

.editIcon {
  margin: auto;
}

.gameCardEditButton {
  background: rgb(1, 93, 142);
}

.gameCardDeleteButton {
  background: rgb(151, 12, 8);

}

.myGamesFlashTextContainer {
  background: lightcoral;
  border: 1px solid red;
  margin: auto;
  font-size: 2.4rem;
  text-align: center;
}

.hidden {
  display: none;
}

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}


