.navbar {
  height: 42px;
  background: indigo;
  padding-top: 0;
  display: flex;
}

.navButton {
  height: 100%;
  color: white;
  background: indigo;
  width: 100%;
  margin: 0px 0px;
  border: none;
  font-size: large;
  font-family: fortNite;
}

.navButtonContainer {
  flex: 1;
}
.navButton:hover {
  filter: brightness(125%);
}