.tile {
  width: 30%;
}

@media only screen and (max-width: 700px) {
  .tile {
    width: 49%;
    margin: 5px 0;
  }
}

.tile:hover {
  cursor: pointer;
  filter: brightness(110%);
}
.tileTitle {
  font-size: large;
  text-align: center;
}

.tileStats {
  display: flex;
  margin: 0 5%;
}

.tileStat {
  flex: 1;
  font-size: medium;
}

.tileAvgPlace {
  text-align: start;
}

.tileAvgKills {
  text-align: end;
}