@font-face {
  font-family: 'fortNite';
  src: local('fortNite'), url(./fonts/fortNite.otf) format('opentype');
}


@import 'UserForm';
@import 'FilterLocations';
@import 'Tile';
@import 'BackSplash';
@import 'Navbar';
@import 'ActionButton';
@import 'ActiveTile';
@import 'StatBox';
@import 'AccountOptionsForm';
@import 'FullMap';
@import 'AccountSettings';
@import 'MyGames';
@import 'StatDashboard';
@import 'React-Datetime';
@import 'GameCardFull';
@import 'FilterMyGames';
@import 'PieChartTooltip';

.loadingCenterScreen {
  position: absolute;
  z-index: 2001;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20vh;
}

@media only screen and (min-width: 1300px) {
  .loadingCenterScreen {
    left: 42.5%;
    width: 15%;
  }
}
.deadCenterFlashTextContainer {
  position: absolute;
  z-index: 2000;
  background: lightcoral;
  border: 3px solid red;
  top: 40%;
  left: 12.5%;
  font-size: 3.6rem;
  width: 75%;
  text-align: center;
}
button:hover {
  cursor: pointer;
}

html {
  font-size: 10px;
  font-family: 'fortNite';
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

button {
  font-family: 'fortNite';
}

.disabledButton:hover {
  cursor: not-allowed;
}
@media only screen and (max-width: 700px) {
  .filterSelection {
    font-size: 5vw;
    width: 40%;
  }
  .filterGroupButton {
    font-size: 5vw;
  }
}

.userWinContainer {
  position: absolute;
  z-index: 3001;
  top: 40%;
  left: 30%;
  width: 40%;
}

@media only screen and (max-width: 1000px) {
  .userWinContainer {
    left: 25%;
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .userWinContainer {
    left: 20%;
    width: 60%;
  }
}

.introjs-tooltiptext {
  font-size: 18px;
}

#app {
  max-width: 1680px;
}