@font-face {
  font-family: 'fortNite';
  src: local('fortNite'), url(./fonts/fortNite.otf) format('opentype');
}


@import 'UserForm';
@import 'FilterLocations';
@import 'Tile';
@import 'BackSplash';
@import 'Navbar';
@import 'ActionButton';
@import 'ActiveTile';
@import 'StatBox';
@import 'AccountOptionsForm';
@import 'FullMap';
@import 'AccountSettings';
@import 'MyGames';
@import 'StatDashboard';

button:hover {
  cursor: pointer;
}

html {
  font-size: 10px;
  font-family: 'fortNite';
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

button {
  font-family: 'fortNite';
}

.disabledButton:hover {
  cursor: not-allowed;
}
@media only screen and (max-width: 700px) {
  .filterSelection {
    font-size: 5vw;
    width: 40%;
  }
  .filterGroupButton {
    font-size: 5vw;
  }
}